<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/delete.css" %}">

</head>
<body>


    <form class="form" method="POST"> 
        {% csrf_token %}
        <div class="title">Confirm</div> 
        <p class="message">Are you Sure to delete this item ?</p> 
        <div>
            <button class="action bg-danger" type="submit" value="Yes">Delete</button> 
            <a href="/">
                <button class="action bg-danger">
                    Cancel 
                </button>
            </a>

        </div>
    </form>
</body>
</html>