<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/add_note.css" %}">

</head>
<body>
    <div class="form-container">
        <form class="form" method="POST" action="">
            {% csrf_token %}
            <div class="title">New Note</div>
            <input type="text" placeholder="Note Title" class="input" name="title" value="{{ note.title }}">
            <textarea placeholder="Text" name="text">{{ note.text }}</textarea>
            
            <button>Submit</button>
        </form>
    </div>
</body>
</html>